{% extends "layout.html" %}
{% block body %}
        <h2 style="color : red;">Survey Data</h2>
        <ul class="navbar-nav">
            <li class="nav-item"><b>You can take the survey <a href="https://docs.google.com/forms/d/e/1FAIpQLSfWw-znStt5iF2Dc7eIoXNn24Ulxhm9fEDVggtAxoAyXLfyIA/viewform">here</a>.</b></li>
            <li class="nav-item"><b>Total responses submitted</b>: {{ responses }} </li>
            <li class="nav-item"><b>Date/Time first response</b>: {{ first }}</li>
            <li class="nav-item"><b>Date/Time most recent response</b>: {{ last }}</li>
        </ul>

        <hr>
        <h2 style="color : red;">Survey Questions</h2>
        <ul class="navbar-nav">
        {% for key, value in label_dict.items() %}
            {%  if key != "Timestamp" %}
                <li class="nav-item"><b>{{ key }}</b>: {{ value }}</li>
            {%  endif %}
        {%  endfor %}
        </ul>
{% endblock %}